<a href="https://colab.research.google.com/github/phgallop/pyLearn/blob/main/ml_creditanalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importando as bibliotecas utilizadas
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

# Etapa 1: Ler o dataset

In [ ]:
dataset = pd.read_csv('TopEsp_Desafio3_Aula1-ExemploRiscoCredito.csv',sep=';', encoding='latin-1')
dataset.head()

  historico-credito endividamento garantias valor-solicitado inadimplente
0          Negativa        > 30 %       Nao       < 15000.00          Sim
1      Desconhecida        ? 30 %       Nao  > 15000 < 35000          Sim
2      Desconhecida        < 30 %       Nao  > 15000 < 35000          Sim
3      Desconhecida        < 30 %       Nao       > 35000.00          Sim
4      Desconhecida        < 30 %       Nao       > 35000.00          Nao

# Etapa 2: preparar os dados

In [ ]:
def historico_to_numeric(x):
    if x=='Negativa':
        return 2
    if x=='Desconhecida':
        return 1
    if x=='Positiva':
        return 0
# preparação personalizada
dataset['historico-num'] = dataset['historico-credito'].apply(historico_to_numeric)

In [ ]:
# usando replace
dataset.replace({"inadimplente":{"Sim":1, "Nao":0},
                 "garantias":{"Sim":1, "Nao":0},
                 "historico-credito":{"Negativa":1, "Desconhecida":0, "Positiva":2}
                },
                inplace=True)
dataset.head()

   historico-credito endividamento  ...  inadimplente historico-num
0                  1        > 30 %  ...             1             2
1                  0        ? 30 %  ...             1             1
2                  0        < 30 %  ...             1             1
3                  0        < 30 %  ...             1             1
4                  0        < 30 %  ...             0             1

[5 rows x 6 columns]

#tarefa alterar os campos endividamento e valor-solicitado para valores numéricos

In [ ]:
# fazer tarefa 1 aqui
dataset.replace({
    "endividamento":{
        "> 30 %":1,
        "< 30 %":0,
        "? 30 %":2},
    "valor-solicitado":{
        "< 15000.00":1,
        "> 15000 < 35000":2,
        "> 35000.00":0}
                },
               inplace=True)
dataset.head()

   historico-credito  endividamento  ...  inadimplente  historico-num
0                  1              1  ...             1              2
1                  0              2  ...             1              1
2                  0              0  ...             1              1
3                  0              0  ...             1              1
4                  0              0  ...             0              1

[5 rows x 6 columns]

# Extração das características

In [ ]:
caracteristicas = dataset[['historico-credito', 'garantias','endividamento', 'valor-solicitado']]
classes = dataset['inadimplente']
caracteristicas.head()

   historico-credito  garantias  endividamento  valor-solicitado
0                  1          0              1                 1
1                  0          0              2                 2
2                  0          0              0                 2
3                  0          0              0                 0
4                  0          0              0                 0

# treinando o modelo

In [ ]:
modelo = MultinomialNB()
modelo.fit(caracteristicas,classes)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
# Aplicar o modelo a uma nova amostra

In [ ]:
novocontrato = pd.DataFrame([[1, 0]],
                             columns=['historico-credito', 'garantias'])
saida = modelo.predict(novocontrato)
print(saida)

[1]

#tarefa: medir o indice de acerto

Realizar a predição em todos os dados utilizados no treinamento do modelo e verificar qual o indice de acerto do modelo criado.
- Saida prevista = saida real (acerto)
- Saida prevista != saida real (erro)

In [ ]:
# fazer tarefa 2 aqui
acertou = 0
errou = 0
for i in range(0,13):
  novocontrato = caracteristicas.iloc[i]
  dados = pd.DataFrame([novocontrato], ['historico-credito', 'garantias','endividamento', 'valor-solicitado'])
  saida = modelo.predict(dados)
  if saida[0] == classes.iloc[i]:
    acertou = acertou + 1
  else:
    errou = errou + 1


print (acertou)
print (errou)

10
3